<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Stack Overflow Português - Chrome APP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">      
    <link rel="stylesheet" href="/css/icon.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/angular.min.js"></script>           
    <!-- http://rss2json.com/api.json?rss_url=http%3A%2F%2Fpt.stackoverflow.com%2Ffeeds%2F -->  
    <script src="/js/app.js"></script>
</head>

<body ng-controller="FeedController">
    <main class="row total-height">
        <header>
            <nav class="teal">
                <div class="nav-wrapper">
                    <div class="col s12">
                        <!-- <i class="material-icons">language</i> -->
                        <a class="brand-logo">
                            <span>Stackoverflow Português</span>
                        </a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li>
                                <a ng-click="reload()" href><i class="material-icons">loop</i></a>
                            </li>
                            <li>
                                <a class="modal-trigger" href="#tags-modal"><i class="material-icons">label</i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section class="total-height">
            <div class="col s3 sidebar teal lighten-1">            
                <ul class="collection">
                    <li class="collection-item"
                        ng-repeat="item in feeds.items"
                        ng-click="showPost(item)" 
                        style="cursor: pointer" 
                        ng-class="{active: item.title == feed.title}"
                    >
                        <span ng-bind-html="html(item.title)"></span>
                        <div class="secondary-content">
                            <i class="material-icons tiny yellow-text" ng-if="containsAnyTag(item)">grade</i>
                        </div>
                    </li>
                </ul>     
            </div>
            <div class="col s9 push-s3">
                <div class="progress" ng-show="loading">
                  <div class="indeterminate"></div>
                </div>
                <div ng-hide="loading">
                    <header>
                        <h3>
                            <a class="black-text" ng-href="{{ feed.link }}" target="_blank" ng-bind-html="html(feed.title)"></a>
                        </h3>
                    </header>
                    <section class='box'>
                        <div ng-bind-html="html(feed.content)"></div>
                        <div>
                            <a ng-repeat="category in feed.categories" 
                                ng-bind="category"
                                class="chip" 
                                href
                                ng-click="toggleTag(category)" 
                                ng-class="{'teal white-text': tags.indexOf(category) != -1}"></a>
                        </div>
                    </section>
                </div>

                <!-- Modal Trigger -->
                 
            </div>        
        </section>

        <div id="tags-modal" class="modal bottom-sheet">
            <div class="modal-content">
                <h4>Tags Selecionadas</h4>
                <div>
                    <a ng-repeat="tag in tags.sort()" class="chip teal white-text" ng-click="toggleTag(tag)" href>
                        <span ng-bind="tag"></span>
                        <i class="close material-icons">close</i>
                    </a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>